<form action="/models" method="GET">
  <div>
    <label>Escolha a Fabricante:</label>
    <select name="webmotors_brand_id">
      <% @makes.each do |brand| %>
        <option value="<%= brand.webmotors_id %>"><%= brand.name %></option>
      <% end %>
    </select>
  </div>

  <input type="submit" value="Buscar modelos">
</form>
